.container {
  position: relative;
  background-size: 100% 100%;
  transition: all .2s ease;
  width: 100%;
  height: 100%;

  &:hover {
    background-size: 130% 130%;
  }

  &::before {
    background: linear-gradient(360deg, rgba(41, 41, 73, 0.91) 26.12%, rgba(0, 0, 0, 0.4) 92.86%);
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
  }

  > div {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;

    > h4 {
      font-weight: 600;
      font-size: 22px;
      line-height: 20px;
      color: #FFFFFF;
      margin-top: auto;
      margin-bottom: 4px;
    }

    > div{
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: flex-end;
    }
  }
}
