.sliderWrap {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.slider {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.sliderInner {
  width: 3000px;
  height: 100%;
  display: flex;
  touch-action: pan-y;

  > div {
    display: flex;
  }

}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
