.sliderWrap {
  width: 100%;
  height: 100%;
  cursor: grab;
  // mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
}

.slider {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.sliderInner {
  width: 3000px;
  height: 100%;
  display: flex;
  padding: 0 32px;

  >div {
    display: flex;
    gap: 20px;
  }

}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}