.container {
  position: relative;
  margin-top: -5%;
  z-index: 2;
  height: 80%;
  margin-bottom: -10px;

  svg {
    filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.1));
  }

  svg:nth-child(2) {
    width: 60%;
    z-index: 0;
    height: auto;
    position: absolute;
    top: -18px;
    left: 0;
  }

  svg:nth-child(1) {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
}

.divisor__white {

  svg,
  path {
    fill: #fff !important;
  }
}

.divisor__yellow {

  svg,
  path {
    fill: #B5DA35 !important;
  }
}