.container {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.description {
  padding: 16px;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  background: #3D3D3D;
}

.thumb {
  width: 100%;
  position: relative;
  aspect-ratio: 16/9;
  display: flex;
}

.content {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  z-index: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2px;

  > p:first-child {
    font-weight: 700;
    font-size: 32px;
    color: #B5DA35;
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

  }
  > p:last-child {
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
  }

}

.backdrop {
  background: url('/empty-state.jpg') center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
  }
}
