.container {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.description {
  padding: 16px;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  background: #3D3D3D;
}

.tag__date {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #5FD9DA;
  padding: 0 8px;
  border: 1px solid #5FD9DA;
  border-radius: 14px;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;
}

.thumb {
  width: 100%;
  position: relative;
  aspect-ratio: 16/9;
  display: flex;
}

.content {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  z-index: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;

  > p:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #B5DA35;

  }
  > p:last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
  }

}

.backdrop {
  background: url('/carrossel.png') center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  > svg {
    color: #B5DA35;
    font-size: 40px;
    z-index: 1;
    stroke-width: 1px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    background: rgba(8, 12, 35, 0.85);
    mix-blend-mode: normal;
  }
}