.footer {
  position: relative;
  z-index: 3;
  background: #3D3D3D;

  >svg {
    width: 100%;
    margin-top: -42px;
  }

  .footerInfo {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;

    >div {
      padding: 0 32px;
      border-left: 2px solid rgba(181, 218, 53, 0.2);
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #F2F2F2;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #B5DA35;
      }

      &:nth-child(1) {
        display: flex;
        align-items: center;
        border-left: 0px;

        svg,
        path {
          fill: #fff;
        }
      }

      &:nth-child(2) {
        h4 {
          margin-bottom: 10px;
        }

        p:nth-child(2) {
          margin-bottom: 32px;
        }

        p:nth-child(3) {
          margin-bottom: 12px;
        }

        p:nth-child(4) {
          margin-bottom: 40px;
        }

      }

      &:nth-child(3) {
        display: flex;
        flex-direction: column;

        ul {
          margin: auto 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      &:nth-child(4) {
        display: flex;
        flex-direction: column;

        ul {
          margin: auto 0;
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            display: flex;
            align-items: center;
            gap: 8px;
          }

        }
      }

    }

  }
}

.copy {
  background: #1D1D1D;
  padding: 16px;
  color: rgba($color: #FFFFFF, $alpha: .6);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}