.container {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 56px 24px 24px;
  width: 100%;
  background: transparent;
  transition: all .2s ease-in-out;
}

.active {
  background: #fff;
  padding: 56px 24px 24px;
}
