.container {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 56px 24px 24px;
  width: 100%;
  background: transparent;
  transition: all .2s ease-in-out;
}

.active {
  background: rgba(255,255,255, .9);
  padding: 56px 24px 24px;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0, .5));
  backdrop-filter: blur(10px);
}
