.container {
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.go_back {
  font-size: 34px;
  color: #B5DA35;
  display: flex;
  align-items: center;
  justify-content: center;
}
