.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.go_back {
  color: #B5DA35;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  font-size: 32px;
}
