.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  > div {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #FFFFFF;
}

.go_back {
  color: #B5DA35;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  font-size: 32px;
  margin-left: 16px;
}

.notifications {
  color: #B5DA35;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  font-size: 32px;
  margin-left: auto;
  position: relative;

  > span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    font-size: 14px;
    font-weight: 700;
    color: #3D3D3D;
    right: -4px;
    top: -4px;
  }
}
