@keyframes showUp {
  0% {
    top: 100%;
    border-radius: 16px;
  }
  60% {
    border-radius: 16px;
  }
  100% {
    top: 0;
    border-radius: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  position: absolute;
  background: #fff;
  color: #B5DA35;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: showUp .5s ease-out forwards;
}

.closed {
  top: 0;
  border-radius: 0;
  animation: fadeIn .2s ease-out forwards;
}

