@keyframes showUp {
  0% {
    opacity: 0;
    top: 100%;
    border-radius: 16px;
  }
  60% {
    border-radius: 16px;
  }
  100% {
    opacity: 1;
    top: 0;
    border-radius: 0;
  }
}

@keyframes hideDown {
  100% {
    opacity: 0;
    top: 100%;
    border-radius: 0;
  }
  40% {
    border-radius: 16px;
  }
  0% {
    opacity: 1;
    top: 0;
    border-radius: 16px;
  }
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  z-index: 10;
  top: 0;
  padding: 48px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  opacity: 0;
  border-radius: 16px;
  overflow: auto;

  animation: showUp .5s ease-out forwards;

  > div:last-child {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    p:first-child {
      max-width: 224px;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: center;

      color: #494949;
    }

    p:last-child{
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      max-width: 224px;

      color: #494949;
    }
  }

  > ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    > li {

      button {
        background: #5FD9DA;
        width: 100%;
        color: #FFF;
        gap: 16px;
        padding: 12px;
        display: flex;
        align-items: center;
        border-radius: 4px;

        > div {
          display: flex;
          flex-direction: column;
          text-align: left;

          span:first-child {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
          }

          span:nth-child(2) {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
          }
        }

        > svg:first-child {
          min-width: 24px;
          height: auto;
        }

        > svg:last-child {
          min-width: 30px;
          height: auto;
          margin-left: auto;
        }
      }
    }
  }
}

.animation_out {
  animation: hideDown .5s ease-in forwards;
}
