.container {
  border-radius: 8px;
  background: #5FD9DA;
  padding: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.link {
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.info {
  > div:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
  }
  > div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  > div:nth-child(3) {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}
.image {
  width: 72px;
  height: 72px;
  border: 8px;
  background: url("/jubap.png") center/cover;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

