.programCardContainer {
  border-radius: 14px;
  background: #5FD9DA;
  width: 282px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all .2s ease;

  &:hover {
    background: #53c4c4;
  }


  >div:first-child {
    flex: 1;
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;

    >div:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 100px;
      opacity: .7;
      flex: 1;

      svg {
        stroke-width: 1px;
      }

    }
  }

  >div:last-child {
    padding: 20px;
    display: flex;
    align-items: center;
    background: #494949;
    color: #B5DA35;
    justify-content: space-between;

    >svg {
      opacity: .5;
      font-size: 32px;
    }

    >div {
      div:first-child {
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 4px;
      }

      div:last-child {
        font-weight: 300;
        font-size: 20px;
      }

      div {
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
          font-size: 28px;
        }
      }

    }

  }

}