.container {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.thumb {
  width: 100%;
  position: relative;
  aspect-ratio: 16/9;
  display: flex;
}

.content {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  z-index: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2px;

  > h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

  > p {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-bottom: 3px;
    max-width: 180px;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    width: 100%;

    > div:first-child {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #FFFFFF;
      flex: 1;
    }

    > div:last-child {
      display: flex;
      align-items: center;
      gap: 16px;
      color: #B5DA35;

      > span {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
      }

    }
  }
}

.external_link {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  color: rgba(181, 218, 53, 0.5);
  z-index: 2;
}

.backdrop {
  background: url('/enjubap.png') center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    background: linear-gradient(360deg, rgba(41, 41, 73, 0.91) 26.12%, rgba(0, 0, 0, 0.4) 92.86%);
  }
}
