.container {
  padding: 4px 16px;
  border-radius: 16px;
  background: transparent;
  border: 1px solid #5FD9DA;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #5FD9DA;
  font-weight: 600;

  font-size: 16px;
  margin-top: 16px;
}
