.description {
  padding: 24px 24px 0;
  position: relative;
  width: 100%;

  > div:first-child {
    max-height: 216px;
    overflow: hidden;
    transition: all .2s ease;
  }

  > div:nth-child(2) {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    padding: 24px 24px 0;
    height: 120px;
    display: flex;
    align-items: end;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #FFFFFF 59.37%);;
  }
}
