.container {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 0 0 24px;

  &::after {
    content: "";
    display: flex;
    flex: 1;
    height: 1px;
    background: #B5DA35;;
  }

  > div {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #383838;
  }
}