.container {
  width: 100%;

  iframe,
  >div {
    width: 100%;
    height: 100%;
  }

}

.video__backdrop {
  background: url('/carrossel.png') center/cover;
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  >button {
    background: transparent;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(8, 12, 35, 0.85);
    z-index: 1;
  }

  svg {
    font-size: 72px;
    color: #B5DA35;
    position: relative;
    z-index: 2;
    stroke-width: 1px;
  }

}