.banner {
  height: 90vh;
  position: relative;
}

.videoContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  >div {
    aspect-ratio: 16/9;
    height: 100%;
    width: auto;
  }
}

.content {
  position: absolute;
  padding: 82px 24px 80px;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-align: center;

  h1,
  h2 {
    font-size: 24px;
    line-height: 40px;
  }

  h1 {
    font-weight: 500;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
  }

}

.backdrop {
  // background: url('/carrossel-min.png') center/cover;
  position: absolute;
  width: 100%;
  height: 100%;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    // background: rgba(0, 61, 62, 0.78);
    // backdrop-filter: blur(2px);

    background: rgb(238, 238, 238);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) -20%, rgba(238, 238, 238, 0) 50%, rgba(95, 217, 218, 1) 100%);
    position: absolute;
    z-index: 0;
    top: 0;
  }
}