.banner {
  height: 500px;
  position: relative;
}

.content {
  position: absolute;
  padding: 82px 24px 24px;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1,
  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h1 {
    font-weight: 700;
  }

  h2 {
    font-weight: 400;
  }

}

.backdrop {
  background: url('/carrossel-min.png') center/cover;
  position: absolute;
  width: 100%;
  height: 100%;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 61, 62, 0.78);
    backdrop-filter: blur(2px);
    position: absolute;
    z-index: 0;
    top: 0;
  }
}