.container {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #383838;

  > svg {
    font-size: 68px;
    color: #B5DA35;
    stroke-width: 1px;
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    max-width: 226px;
  }
}
