.container {
  width: 100%;
  position: relative;
  aspect-ratio: 16/9;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.content {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  z-index: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: #C8C8C8;

  > p:first-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
  > p:last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
  }

}

.backdrop {
  background: url('/carrossel.png') center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  > svg {
    color: #B5DA35;
    font-size: 40px;
    z-index: 1;
    stroke-width: 1px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    background: rgba(8, 12, 35, 0.85);
    mix-blend-mode: normal;
  }
}