.container {
  color: #2F2A2A;
  background: #fff;
  padding: 12px 24px;
  border-radius: 41.5px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  svg {
    font-size: 24px;
  }

}

.secondary {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  border-radius: 41.5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #5FD9DA;
  width: 100%;
  padding: 12px 24px;

  >svg {
    font-size: 24px;
  }

}

.third {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  border-radius: 41.5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  color: #3D3D3D;
  width: 100%;
  padding: 12px 24px;

  border: 1px solid #B5DA35;
  background: none;

  >svg {
    font-size: 24px;
  }

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  >svg {
    animation: rotate .5s linear infinite;
  }
}