.container {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #2F2A2A;
  padding: 12px 24px;
  border-radius: 41.5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}