.container {
  color: #2F2A2A;
  background: #fff;
  padding: 12px 24px;
  border-radius: 41.5px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.secondary {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  border-radius: 41.5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #5FD9DA;
  width: 100%;
  padding: 12px 24px;

  > svg {
    font-size: 24px;
  }

}