.schedule {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.scheduleCongragations {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px 90px;
  margin-top: 16px;
}

.congragations {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px;
  margin-top: 16px;
  margin-bottom: 32px;

  > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
    margin-bottom: 8px;
  }
}

.seeAllButton {
  background: none;
  text-decoration: underline;
  color: #5FD9DA;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
  padding: 4px 0 4px 4px;
}


.description {
  margin-bottom: 32px;
}

.button_link_location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
  padding: 8px 12px;
  border: 1px solid #5FD9DA;
  border-radius: 7px;
  background: transparent;
  width: 100%;
  text-align: left;

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;

    > div:first-child {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;

      button {
        text-decoration: underline;
        color: #5FD9DA;
        background: transparent;
      }

    }
  }

  > svg {
    font-size: 24px;
    color: #5FD9DA;
  }
}


.congragation_preach {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
  padding: 8px 12px;
  border: 1px solid #5FD9DA;
  border-radius: 7px;
  background: transparent;
  width: 100%;
  text-align: left;

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;

    > div:first-child {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  > svg {
    font-size: 24px;
    color: #5FD9DA;
  }
}

.button_link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
  padding: 8px 12px;
  border: 1px solid #5FD9DA;
  border-radius: 7px;
  background: transparent;
  width: 100%;

  > svg {
    font-size: 24px;
    color: #5FD9DA;
  }
}

.social_media {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 24px 32px;

  > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
    margin-bottom: 16px;
  }
}
