.container {
  padding: 0 24px 120px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 16px;
    color: #3D3D3D;
  }
}

.item {
  display: flex;
  gap: 8px;
  color: #3D3D3D;
  font-weight: 700;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;

  >div:first-child {
    color: #5FD9DA;
    width: 24px;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  >div:last-child {
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
}