.container {
  padding: 0 24px 32px;
}

.modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .9);
  padding: 24px;
  display: flex;
  align-items: center;

  >button {
    position: absolute;
    right: 24px;
    top: 24px;
    background: transparent;
    color: #fff;
    font-size: 28px;
    padding: 8px 0;
    display: flex;
    align-items: center;
  }

  >div {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;


    >button {
      width: 32px;
      height: 32px;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #fff;
      background: rgba($color: #000000, $alpha: .5);

      &:disabled {
        opacity: .5;
      }

    }

  }

  >img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  margin-bottom: 48px;

  >div {
    width: 100%;
    aspect-ratio: 16/9;
  }

}

.header {
  display: flex;
  margin-bottom: 24px;
  color: #3D3D3D;
  flex-direction: column;

  h2 {
    font-size: 24px;
  }

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >p {
      margin-top: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #5FD9DA;
      display: flex;
      gap: 4px;
      align-items: center;
    }
  }
}