.container {
  padding: 0 24px 32px;
}

.view {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerModal {
  position: absolute;
  top: 40px;
  right: 24px;
  display: flex;
  align-items: center;
  gap: 14px;

  a,
  button {
    background: #fff;
    font-size: 28px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5FD9DA;
  }

  a {
    border-radius: 24px;
    padding: 0 16px;
    gap: 8px;
    font-size: 20px;
  }

  button {
    width: 48px;
    border-radius: 50%;
  }
}

.controller {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  left: 0;
  padding: 8px;

  >button {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    color: #fff;
    background: rgba($color: #000000, $alpha: .5);
    position: relative;

    >svg {
      width: 24px;
      height: auto;
      stroke: #fff;
    }

    &:disabled {
      opacity: .5;
    }
  }
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .9);
  padding: 24px;
  display: flex;
  align-items: center;

  // >img {
  //   width: 100%;
  //   aspect-ratio: 16/9;
  //   object-fit: contain;
  // }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  margin-bottom: 48px;

  >div {
    width: 100%;
    aspect-ratio: 16/9;
  }

}

.header {
  display: flex;
  margin-bottom: 24px;
  color: #3D3D3D;
  flex-direction: column;

  h2 {
    font-size: 24px;
  }

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >p {
      margin-top: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #5FD9DA;
      display: flex;
      gap: 4px;
      align-items: center;
    }
  }
}