.header_container {
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 32px 24px;
  width: 100%;
}

.container {
  padding: 0 24px 90px;
}

.button__on_line {
  margin-bottom: 48px;
}

.grid {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 48px;
}