.container {
  padding: 0 24px 32px;
}

.button__on_line {
  margin-bottom: 48px;
}

.grid {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 48px;
}

.load_more {
  margin-bottom: 90px;
}
