.navBarContainer {
  background: rgba(29, 29, 29, 0.9);
  backdrop-filter: blur(3.5px);
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navBar {
  padding: 16px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 48px;
    font-weight: 600;
    font-size: 20px;
    color: #5FD9DA;

    li {
      a {
        transition: all .2s ease;

        &:hover {
          color: #B5DA35;
        }
      }
    }

  }
}

.banner {
  height: 636px;
  position: relative;
  display: flex;

  .banner_arrow {
    position: absolute;
    height: 100%;
    z-index: 2;
    width: 140px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;

    svg {
      stroke-width: 1px;
    }

  }

  .banner_arrow__left {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 2.32%, rgba(0, 0, 0, 0) 90.37%);
  }

  .banner_arrow__rigth {
    right: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 2.32%, rgba(0, 0, 0, 0) 90.37%);
  }

}

.backdrop {
  background: url('/carrossel.png') center/cover;
  position: absolute;
  width: 100%;
  height: 100%;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 61, 62, 0.78);
    backdrop-filter: blur(2px);
    position: absolute;
    z-index: 0;
    top: 0;
  }

  .banner_content {
    color: #fff;
    position: relative;
    padding: 80px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    max-width: 1440px;
    margin: auto;

    h1 {
      font-weight: 700;
      font-size: 103px;
      line-height: 129px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 24px;
    }

    p:nth-child(2) {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 28px;
    }

    p:nth-child(3) {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

  }

}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divisor {
  position: relative;
  margin-top: -5%;
  z-index: 2;
  height: 80%;
  margin-bottom: -10px;

  svg {
    filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.1));
  }

  svg:nth-child(2) {
    width: 60%;
    z-index: 0;
    height: auto;
    position: absolute;
    top: -18px;
    left: 0;
  }

  svg:nth-child(1) {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
}

.divisor__white {

  svg,
  path {
    fill: #fff !important;
  }
}

.divisor__yellow {

  svg,
  path {
    fill: #B5DA35 !important;
  }
}

.lastTransmission {
  background: #fff;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  padding-bottom: 120px;

  >div {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    div:first-child {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      svg {
        font-size: 40px;
        color: #B5DA35;
        margin-bottom: 20px;
      }

      h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #383838;
        margin-bottom: 16px;
      }

      p:nth-child(3) {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #8E8E8E;
        margin-bottom: 24px;
        max-width: 300px;
      }

      p:nth-child(4) {
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        color: #8E8E8E;
      }

    }

    div:last-child {
      width: 60%;

      .video__backdrop {
        background: url('/carrossel.png') center/cover;
        position: relative;
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(8, 12, 35, 0.85);
          z-index: 1;
        }

        svg {
          font-size: 72px;
          color: #B5DA35;
          position: relative;
          z-index: 2;
          stroke-width: 1px;
        }

      }
    }
  }
}

.introduction {
  background: #5FD9DA;
  padding: 10px 0;
  z-index: 2;
  margin-top: -50px;
  position: relative;

  >div {
    max-width: 1440px;
    margin: auto;
    background: url('/logoicon.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 100% 150%;

    >div:first-child {
      display: flex;
      align-items: center;
      gap: 100px;
      justify-content: center;

      >div:first-child h2 {
        text-align: right;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        color: #383838;

        strong {
          font-weight: 700;
        }

      }

      >div:last-child {
        display: flex;
        flex-direction: column;
        max-width: 461px;
        width: 100%;
        gap: 24px;

        button {
          font-weight: 500;
          font-size: 24px;
          line-height: 30px;
          color: #2F2A2A;
          padding: 12px 24px;
          border-radius: 41.5px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          display: flex;
          align-items: center;
          gap: 16px;
          justify-content: center;
        }

      }

    }

    >div:last-child {
      margin-top: 80px;
      padding-bottom: 203px;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      color: #383838;
    }

  }

}

.series {
  background: #B5DA35;
  position: relative;
  z-index: 2;
  margin-top: -50px;
  padding-bottom: 120px;

  >div {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


    >:first-child {
      text-align: center;

      >svg {
        font-size: 56px;
        color: #393434;
        margin-bottom: 28px;
        stroke-width: 1px;
      }

      h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #383838;
        margin-bottom: 16px;
      }

      >p {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        margin-bottom: 32px;
      }
    }

    >div:nth-child(2) {
      width: 100%;
      height: 288px;
    }

    >div:last-child {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-top: 40px;
      gap: 40px;
      color: #313131;

      button {
        font-size: 28px;
        background: transparent;
      }

    }

  }
}

.programation {
  background: #fff;
  position: relative;
  z-index: 2;
  padding-top: 120px;
  padding-bottom: 120px;

  >div {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    >div:first-child {
      max-width: 440px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      >svg {
        margin-bottom: 16px;
        stroke-width: 1px;
        font-size: 56px;
        color: #B5DA35;
      }

      h3 {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #383838;
      }

      p {
        margin-bottom: 56px;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #8E8E8E;
        max-width: 300px;
      }

      div {
        display: flex;
        align-items: center;
        gap: 48px;

        button {
          background: none;
          font-size: 28px;
          color: #313131;
        }
      }

    }

    >div:last-child {
      flex: 1;
      overflow: hidden;
      height: 360px;
    }

  }
}

.watchnow {
  background: #fff;
  position: relative;
  z-index: 2;

  >div {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 48px;

    &::after,
    &::before {
      content: '';
      flex: 1;
      height: 2px;
      background: #5FD9DA;
    }

    button {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      padding: 12px 32px;
      background: #5FD9DA;
      border-radius: 41.5px;
    }

  }
}

.footer {
  position: relative;
  z-index: 3;
  background: #3D3D3D;

  >svg {
    width: 100%;
    margin-top: -42px;
  }

  .footerInfo {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;

    >div {
      padding: 0 32px;
      border-left: 2px solid rgba(181, 218, 53, 0.2);
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #F2F2F2;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #B5DA35;
      }

      &:nth-child(1) {
        display: flex;
        align-items: center;
        border-left: 0px;

        svg,
        path {
          fill: #fff;
        }
      }

      &:nth-child(2) {
        h4 {
          margin-bottom: 10px;
        }

        p:nth-child(2) {
          margin-bottom: 32px;
        }

        p:nth-child(3) {
          margin-bottom: 12px;
        }

        p:nth-child(4) {
          margin-bottom: 40px;
        }

      }

      &:nth-child(3) {
        display: flex;
        flex-direction: column;

        ul {
          margin: auto 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      &:nth-child(4) {
        display: flex;
        flex-direction: column;

        ul {
          margin: auto 0;
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            display: flex;
            align-items: center;
            gap: 8px;
          }

        }
      }

    }

  }
}

.copy {
  background: #1D1D1D;
  padding: 16px;
  color: rgba($color: #FFFFFF, $alpha: .6);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}