.header_container {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 56px 24px 24px;
  width: 100%;
  transition: all .2s ease-in-out;

  background: #3D3D3D;
}

.container_books {
  padding: 140px 24px 90px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  >button {
    text-align: left;
    padding: 8px 14px;
    background: #3D3D3D;
    border-radius: 3px;
    color: #FFFFFF;
    border: none;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >svg {
      margin-left: auto;
    }

    >span {
      margin-right: 8px;
      font-weight: 600;
    }

    >svg,
    >span {
      color: #B5DA35;
    }
  }
}

.container_chapter {
  padding: 140px 24px 90px;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  >button {
    text-align: center;
    width: 50px;
    height: 40px;
    background: #3D3D3D;
    border-radius: 3px;
    color: #FFFFFF;
    border: none;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container_lyric {
  padding: 140px 24px 90px;

  h4 {
    font-size: 24px;
    color: #333;

    span {
      font-weight: 300;
    }
  }

  h5 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin: 0;
    margin-top: 8px;
  }

  >div {
    font-size: 20px;
    line-height: 28px;
    color: #3D3D3D;
    margin-top: 24px;

    p {
      margin-bottom: 28px;
    }
  }
}