.container {
  padding: 110px 24px 90px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  >h1 {
    color: #3D3D3D;
  }

  >p {
    color: #3D3D3D;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 32px;
  gap: 8px;

  >button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 8px;
    font-size: 16px;
    border: 2px solid #5FD9DA;
    border-radius: 8px;
    background: transparent;
    color: #5FD9DA;
    font-size: 700;

    >svg {
      font-size: 56px;
      margin-bottom: 8px;
    }
  }
}