.container {
  padding: 0 24px 32px;

  > h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3D3D3D;
  }

  > h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #3D3D3D;
  }

  > p {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    margin-top: 16px;
  }
}

.team {
  padding: 32px 24px 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.team_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  > div:nth-child(1) {
    background: url("/marco.png") center/cover;
    height: 98px;
    width: 98px;
    border-radius: 50%;
    padding: 8px;
  }

  > div:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
  }

  > div:nth-child(3) {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #3D3D3D;
  }
}
