@keyframes checkSee {
  from {
    background: #B5DA35;
  }

  to {
    background: #eee;
  }
}

.container {
  padding: 0 24px 120px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3D3D3D;

  >div {
    background: #ddd;
    padding: 8px 16px;
    border-radius: 16px;
  }
}

.addAnimation {
  animation: checkSee 5s ease forwards;
}

.noticeItem {
  display: flex;
  flex-direction: column;
  background: #eee;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  color: #3D3D3D;

  >span {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 10px;
    justify-content: flex-end;
  }
}