.container {
  padding: 24px;
  max-width: 700px;
  margin: 0 auto;

  > h1 {
    margin-bottom: 24px;
    font-size: 24px;
  }

  > h2 {
    margin-bottom: 8px;
    font-size: 16px;
  }

  > p {
    margin-bottom: 24px;
    text-align: justify;
  }
}
