.header_container {
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 32px 24px;
  width: 100%;
}

.container {
  padding: 16px 24px 90px;
}

.begin {
  padding: 0 24px 24px;

  > h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3D3D3D;
  }

  > h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
    margin-bottom: 16px;
  }
}

.date_time {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5FD9DA;
  margin-bottom: 16px;

  > div {
    display: flex;
    align-items: center;

    > svg {
      margin-right: 8px;
      font-size: 20px;
    }
  }

}


.location {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5FD9DA;
  margin-bottom: 16px;
  align-items: center;

  > svg {
    margin-right: 8px;
    font-size: 20px;
  }

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;

    > a {
      text-decoration: underline;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.audience {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5FD9DA;
  margin-bottom: 16px;
  align-items: center;

  > svg {
    margin-right: 8px;
    font-size: 20px;
  }

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;

    > div:first-child {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.alert {
  display: flex;
  align-items: center;
  background: #B5DA35;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 16px;

  > svg {
    font-size: 22px;
    margin-right: 8px;
  }
}

.subscription_button {
  margin-top: 16px;
}

.description {
  padding: 16px 24px 32px;

  > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #3D3D3D;
    margin-bottom: 24px;
  }
}

.alert_multiline {
  display: flex;
  align-items: center;
  padding: 16px;
  color: #FFFFFF;
  background: #B5DA35;
  border-radius: 8px;

  > svg {
    margin-right: 8px;
    font-size: 24px;
  }

  > div {
    display: flex;
    flex: 1;
    flex-direction: column;

    > div:first-child {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
    }

    > div:last-child {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
  }
}