.container {
  padding: 0 24px 32px;
}

.grid {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 48px;
}

.header {
  display: flex;
  margin-bottom: 24px;
  color: #3D3D3D;
  flex-direction: column;

  h2 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  > p:last-child {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5FD9DA;
    display: flex;
    align-items: center;
  }
}
