.container {
  padding: 0 24px 32px;
}

.grid {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 48px;
}

.header {
  display: flex;
  margin-bottom: 24px;
  color: #3D3D3D;
  flex-direction: column;

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  >div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    >div {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #5FD9DA;
    }
  }
}