.container {}

.header {
  width: 100%;
  background: url('/igreja.jpg') center/cover;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  >h1,
  >h2 {
    z-index: 1;
    color: #fff;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 61, 62, 0.78);
    backdrop-filter: blur(2px);
    position: absolute;
    z-index: 0;
    top: 0;
  }

}

.history {
  max-width: 1440px;
  margin: auto;
  height: 1000px;
}